@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.validationflow .react-flow__node {
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    color: #555;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
}

.validationflow .react-flow__node-customnode {
    background: #e6e6e9;
    border: 1px solid #ddd;
}

.react-flow__node-custominput .react-flow__handle {
    background: #e6e6e9;
}

.validationflow .react-flow__node-custominput {
    background: #fff;
}

.validationflow .react-flow__handle-connecting {
    background: #ff6060;
}

.validationflow .react-flow__handle-valid {
    background: #55dd99;
}

input {
    opacity: 0;
}

label {
    background-color: #7f9ccb;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge gray;
    font-size: 0.8rem;
    height: auto;
}
